/* Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "Cascadia Code";
  src: "./fonts/codeFont.ttf";
}

* {
  outline: 0 !important;
  -webkit-user-select: none;
  user-select: none;
}

/* Scrollbar CSS */
body::-webkit-scrollbar {
  width: 11px;
  background-color: rgb(220, 224, 233);
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
  background-color: rgb(161, 161, 161);
}

.dark body::-webkit-scrollbar {
  background-color: rgba(31, 41, 55, 1);
}

.dark body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(206, 206, 206);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

/* Background Colors */
.bg-pre {
  background-color: #002b36;
}

.bg-code {
  color: #93a1a1;
}

/* Font classes */
.font-footer {
  font-family: "Quicksand", sans-serif;
}

.font-about {
  font-family: "Roboto", sans-serif;
}

.font-code {
  font-family: "Cascadia Code", monospace;
}
