@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  outline: 0 !important;
}

@media (min-width: 1024px) {
  .width2 {
    width: 75%;
  }

  .width {
    width: 40%;
  }
}

.width {
  width: 100%;
}

.width-about {
  width: 60%;
}

.font-footer {
  font-family: "Quicksand", sans-serif;
}

.font-about {
  font-family: "Roboto", sans-serif;
}

.text-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.fill-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
